<div class="d-flex align-items-center h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card">
          <div class="card-body p-5">
            <h1 class="text-center mb-5">Create an account</h1>
            <form [formGroup]="registerForm">
              <!-- Username -->
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input [class.error]="registerForm.controls['username'].dirty && registerForm.hasError('required' , 'username')" autocomplete="username" class="form-control" formControlName="username" id="username"
                       name="username" placeholder="Username"
                       type="text">
              </div>
              <small *ngIf="registerForm.controls['username'].dirty && registerForm.hasError('minlength' , 'username')"
                     class="text-danger">*Username to short!</small>
              <!-- E-Mail -->
              <div class="input-group mt-5">
                <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                <input [class.error]="registerForm.controls['email'].dirty && registerForm.hasError('required' , 'email' )" autocomplete="email" class="form-control" formControlName="email" id="email"
                       name="email" placeholder="E-Mail"
                       type="email">
              </div>
              <small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('pattern' , 'email')"
                     class="text-danger">*invalid E-Mail</small>

              <!-- Password -->
              <div class="input-group mt-5">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                <input [class.error]="registerForm.controls['password'].dirty && registerForm.hasError('required' , 'password')" [type]="type" autocomplete="new-password" class="form-control"
                       formControlName="password" id="password" name="password"
                       placeholder="Password">
                <span (click)="hideShowPassword()" class="input-group-text"><i class="bi {{eyeIcon}}"></i></span>
              </div>
              <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required' , 'password')"
                     class="text-danger">*Password is required</small>
              <!-- Checkbox Terms -->
              <div class="form-check d-flex justify-content-center mt-5">
                <input class="checkbox form-check-input me-2" formControlName="terms" id="terms" type="checkbox">
                <label class="form-check-label" for="terms">
                  I agree to the <a class="text-body" href="#"><u>Terms of service</u></a>
                </label>
              </div>
              <div class="text-center">
                <small *ngIf="registerForm.controls['terms'].touched && registerForm.controls['terms'].invalid"
                       class="text-danger">
                  *You must agree to the terms
                </small>
              </div>


              <!-- Button -->
              <div class="d-flex justify-content-center">
                <button (click)="onSignUp()" [disabled]="registerForm.invalid" class="btn btn-lg btn-light mt-5"
                        type="submit">Sign up
                </button>
              </div>
              <p class="text-center text-black-50 mt-5 mb-0">Have already an account? <a [routerLink]="['/login']"
                                                                                         class="fw-bold text-body"><u>Sign
                in here!</u></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

